[Unit]
Description=Reset max cpu frequency after suspend
After=suspend.target

[Service]
Type=simple
ExecStart=/usr/bin/cpupower frequency-set -u 9999999

[Install]
WantedBy=suspend.target
