[Unit]
Description=launcher for kj111Rotate service             
[Service]
Type=simple  
ExecStart=/usr/local/bin/rotate-fix
[Install]
WantedBy=default.target
