[Unit]
Description=launcher for powerpm service             
[Service]
Type=simple  
ExecStart=/usr/local/bin/powerpm
[Install]
WantedBy=default.target
