[Unit]
Description=launcher for dynamic-profiler service             
[Service]
Type=simple  
ExecStart=/usr/local/bin/dynamic-profiler
[Install]
WantedBy=default.target
